.bs{
  box-shadow: rgba(1, 1, 14, 0.979) 0px 50px 100px -20px, rgba(15, 2, 2, 0.932) 0px 30px 60px -30px, rgba(1, 8, 15, 0.945) 0px -2px 6px 0px inset;
  
} 

body{
  background-color: rgb(104, 219, 240);
}
button {
  
  border-color: rgb(12, 11, 11);
}